
header{
	text-align: center;
	padding-bottom: .17rem;
	border-bottom: 1px solid #eee;
	}
	header h3{
		line-height: .88rem;
		font-size: .32rem;
		font-weight: 400;
		position: relative;
	}
	header h3 i{
		font-size: .45rem!important;
		position: absolute;
		right: .28rem;
	}
	header .search{
		margin: 0 auto;
		width: 7rem;
		height: .75rem;
		border-radius: .16rem;
		background-color: #ededed;
		overflow: hidden;
	}
	header .search input{
		width: 7.2rem;
		height: .85rem;
		position: relative;
		top: -.05rem;
		left: -.1rem;
		background: 0;
		/*padding: 0 .2rem;*/
		text-align: center;
	}


nav>ul{
	overflow-y:scroll;
	float: left;
	height: 9.7rem;
}
nav .li1{
	width: 1.79rem;
	height: 1.06rem;
	background-color: #f8f8f8;


}
nav li label{
	display: block;
	width: 1.71rem;
	height: .52rem;
	border-left: .08rem solid transparent;
	text-align: center;
	line-height: .52rem;
	font-size: .28rem;
	margin-top: -.06rem;
}
nav li input:checked + label{
	border-left-color: #e02e24;
	color:  #e02e24;
}
nav .hide{/*
	height: 9.61rem;*/
	position: absolute;
	top: 1.81rem;
	left: 1.79rem;
	bottom: 0;
	display: none;
}

nav .title{
	line-height: 1.06rem;
}
nav .title span{
	font-size: .28rem;
	color: #5d5e60;
	margin-left: .38rem;
	float: left;
}
nav .title img{
	margin-top: .34rem;
	width: 1.3rem;
	float: left;
	margin-left: .22rem;
}
nav li .title em{
	float: right;
	color: #9e9e9e;
	font-size: .17rem!important;
	margin: 0 .15rem;
}
nav li .title p{
	float: right;
	font-size: .25rem;
	color: #9e9e9e;
}
.banner{
	text-align: center;
}
.banner img{
	width: 4.94rem;
}

.hide>.sp{
	display: flex;
	-webkit-justify-content:space-around;
	justify-content:space-around;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	text-align: center;
	overflow-x:hidden;
	overflow-y:scroll; 
	height: 7.12rem;
}
.hide>.sp li{
	width: 33.3333%;

}
.hide>.sp>li img{
	margin-top: .38rem;
	height: 1.08rem;
}
.hide>.sp li span{
	display: block;
	font-size: .22rem;
	margin-top: .2rem;
}
nav li input:checked + label + .hide{
	display: block;
}


footer{
	height: .99rem;
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #eee;
}
footer ul{
	display: flex;
	justify-content:space-around;
}
footer li{
	margin-top: .17rem;
	text-align: center;
	width: 20%;
	color: #666666!important;
}
footer i{
	font-size: .45rem!important;
}
footer span{
	display: block;
	font-size: .22rem;
}
.red{
	color: #e1352b!important;
}